<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aprenda a Ganhar dinheiro com a internet</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="section">
        <div class="container">
            <h1>SUA ÚLTIMA CHANCE DE GANHAR DINHEIRO COM INTERNET</h1>
            <h3>Deixe seu contato e iremos entrar em contato com você</h3>
            <form>
                <div class="form-group">
                    <label for="nome">NOME</label>
                    <input type="text" id="nome" name="nome" required>
                </div>
                <div class="form-group">
                    <label for="telefone">TELEFONE</label>
                    <input type="tel" id="telefone" name="telefone" required>
                </div>
                <div class="form-group">
                    <label for="email">EMAIL</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <form>
                    <button type="submit" class="submit-btn">VAMOS JUNTOS</button>
                </form>
                
            </form>
        </div>
    </div>
    <link rel="stylesheet" href="script.js">
</body>
</html>
